/*公用样式*/

/*边框*/
$common-one-border-color:#DCDFE6;
$common-two-border-color:#E4E7ED;
$common-three-border-color:#EBEEF5;

/*字体*/
$common-main-font-color:#303133;
$common-routine-font-color:#606266;
$common-minor-font-color:#909399;

/*颜色*/
$common-logo-color:#0190A0;
$common-blue-color:#409EFF;
$common-success-color:#67C23A;
$common-success-color2:#f0f9eb;
$common-warning-color:#E6A23C;
$common-warning-color2:oldlace;
$common-danger-color:#F56C6C;

/*行距行高*/
$common-main-height:50px;
